<section class="form-section">
  
    <form class="well well-lg" ng-submit="login(user)">
      <h2>Zaloguj sie</h2>
      <div class="form-group">
        <label>Adres Email</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
          <input ng-model="user.email" type="text" class="form-control" placeholder="adres email">
        </div>
        <ul class="list-group">
          <li ng-repeat="error in errors | filter: {param: 'email'}" class="list-group-item list-group-item-danger">{{error.msg}}</li>
        </ul>
      </div>
      <div class="form-group">
        <label>Haslo</label>
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
          <input ng-model="user.password" type="password" class="form-control" placeholder="haslo">
        </div>
        <ul class="list-group">
          <li ng-repeat="error in errors | filter: {param: 'password'}" class="list-group-item list-group-item-danger">{{error.msg}}</li>
        </ul>
      </div>
      <ul class="list-group">
        <li ng-repeat="error in errors | filter: {param: 'fail'}" class="list-group-item list-group-item-danger">{{error.msg}}</li>
      </ul>
      <button type="submit" class="btn btn-default">Zaloguj</button>
    </form>  
</section>

